<%- include('../layout/header') -%>
<nav aria-label="You are here:" role="navigation" class="clearfix">
    <ul class="breadcrumbs onionLink">
        <li><a href="index.html">首页</a></li>
        <li>
            <span class="show-for-sr">Current: </span> 用户中心 - 修改密码
        </li>
    </ul>
</nav>

<h1 class="row column user-margin">修改密码</h1>

<form data-abide novalidate>
    <div data-abide-error class="alert callout" style="display: none;">
        <p><i class="fi-alert"></i> 注册信息输入错误，请重新核对。</p>
    </div>
    <div class="row">
        <div class="small-10 medium-6 small-centered medium-centered columns">
            <label>
                原密码
                <input type="password" placeholder="请输入原登录密码" required>
                <span class="form-error">
                    Yo, you had better fill this out, it's required. 
                </span>
            </label>
            <label>
                新密码
                <input type="password" id="password" placeholder="请输入登录密码" required>
                <span class="form-error">
                    I'm required!
                </span>
            </label>
            <label>
                再一次新密码
                <input type="password" placeholder="请再次输入密码" aria-describedby="exampleHelpText2" required pattern="alpha_numeric" data-equalto="password">
                <span class="form-error">
                    Hey, passwords are supposed to match!
                </span>
            </label>
        </div>
    </div>

    <div class="row form-para-note"></div>

    <div class="text-center form-submit-wrap">
        <button class="button large" type="submit" value="Submit">完成</button>
        <button class="secondary button large" type="reset" value="Reset">重置</button>
    </div>
</form>
<%- include('../layout/footer') -%>