<%- include('../layout/header') -%>
<nav aria-label="You are here:" role="navigation" class="clearfix">
	<ul class="breadcrumbs onionLink">
		<li><a href="index.html">首页</a></li>
		<li><a href="indexCP.html">用户中心</a></li>
		<li>
			<span class="show-for-sr">Current: </span> 资料审核
		</li>
	</ul>
</nav>

<h1 class="row column">用户资料审核</h1>

<!--<div class="row block-margin-bottom">
	<div class="workflow-wrap">
		<div class="workflow-bar prec1"></div>
		<ol class="workflow-label">
			<li class="lb passed"><b><s></s></b>提交订单</li>
			<li class="lb passed"><b><s></s></b>支付订单</li>
			<li class="lb"><b><s></s></b>等待收货</li>
			<li class="lb"><b><s></s></b>完成</li>
		</ol>
	</div>
</div>-->

<div class="row column">
	<div class="callout alert">
		<h4>您已成功注册为云游用户，提交资料审核后即可开通店铺！</h4>
		<p>审核资料需要2个工作日完成审核。</p>
	</div>
</div>

<div class="row column">
	<div class="callout success">
		<h4>审核资料已成功提交！</h4>
		<p>审核资料需要2个工作日完成审核，请耐心等待。</p>
	</div>
</div>

<div class="row column">
	<div class="callout alert">
		<h4>审核资料审核失败！</h4>
		<p>请按如下的错误变更审核资料。</p>
		<ul>
			<li>身份证反面错误</li>
			<li>营业执照扫描件不清晰</li>
		</ul>
	</div>
</div>

<div class="row column">
	<div class="callout success">
		<h4>您的资料已成功通过审核！</h4>
		<p>您可以随时变更您的审核资料。</p>
	</div>
</div>


<form data-abide novalidate method="post" >
	<div data-abide-error class="alert callout alert-form-error" style="display: none;">
		<p><i class="fi-alert"></i> There are some errors in your form.</p>
	</div>
    <div class="row column">	
		<fieldset class="fieldset">
			<legend><h4>选择卖家类型</h4></legend>
			<div class="row">
				<fieldset class="columns" id="auditType">
					<input type="radio" name="category" value="1" checked value="Reds" id="pokemonRed"><label for="pokemonRed">组团社</label>
					<input type="radio" name="category" value="2" id="pokemonBlue"><label for="pokemonBlue">批发商</label>
                    <input type="radio" name="category" value="3" id="pokemonBlueOne"><label for="pokemonBlueOne">地接社</label>
                    <input type="radio" name="category" value="4" id="pokemonBlueTwo"><label for="pokemonBlueTwo">个体</label>
				</fieldset>
			</div>
		</fieldset>

		<fieldset class="fieldset">
			<legend><h4>个人信息</h4></legend>
			<div class="row">
				<div class="medium-6 columns">
					<label>身份证正面图片</label>
					<div class="dropzone dropzone-single"></div>
                    <input type="text" name="identifyCardFrontPhoto" id="identifyCardFrontPhoto" required class="dz-src">
                    <span class="form-error">
						请上传身份证正面图片
					</span>
				</div>
				<div class="medium-6 columns">
					<label>身份证背面图片</label>
					<div class="dropzone dropzone-single"></div>
                    <input type="text" name="identifyCardBackPhoto" id="identifyCardBackPhoto" required class="dz-src">
                    <span class="form-error">
						请上传身份证背面图片
					</span>
				</div>
			</div>			
			<div class="row">
				<div class="medium-6 columns">
					<label>
						联系人
						<input type="text" name="contactPeople" id="concontactPeopletactName" required>
                        <span class="form-error">
							请输入联系人姓名
						</span>
					</label>
				</div>
				<div class="medium-6 columns">
					<label>
						联系人电话
						<input type="text" name="contactPeoplePhone" id="contactPeoplePhone" required pattern="^(\(\d{3,4}\)|\d{3,4}-|\s)?\d{7,14}$">
                        <span class="form-error">
							请输入联系人电话
						</span>
					</label>
				</div>
			</div>
			<div class="row">
				<div class="medium-6 columns">
					<label>
						联系人QQ
						<input type="text" name="contactPeopleQQ" id="contactPeopleQQ" required pattern="number">
                        <span class="form-error">
							请输入联系人QQ号码
						</span>
					</label>
				</div>
				<div class="medium-6 columns">
					<label class="autoSelect">
						<span>所在地区</span>
						<select id="province" name="province" required><option value="">请选择省</option></select>
						<select id="city" name="city" required><option value="">请选择市</option></select>
					</label>
				</div>
			</div>
            <div class="row">
				<div class="medium-12 columns">
					<label>
						详细地址
						<input type="text" name="address" id="address" required>
                        <span class="form-error">
							请输入联系人详细地址
						</span>
					</label>
				</div>
			</div>
		</fieldset>

		<fieldset class="fieldset" id="agency-show">
			<legend><h4>行业认证信息</h4></legend>
            <div class="row">
				<div class="small-12 columns">
					<label>
						商社名称
						<input type="text" name="title" id="title" placeholder="" required>
						<span class="form-error">
							请输入商社名称
						</span>
					</label>
				</div>
			</div>
            <div id="one-show" class="row hideforagency">
				<div class="medium-6 columns">
					<label>导游证图片</label>
					<div class="dropzone dropzone-single"></div>
                    <input type="text" name="touristGuideCardPhoto" id="touristGuideCardPhoto" class="dz-src">
                    <span class="form-error">
						请上传导游证图片
					</span>
				</div>
			</div>
			<div class="row hideforone">
				<div class="medium-6 columns">
					<label>授权书图片</label>
					<div class="dropzone dropzone-single"></div>
                    <input type="text" name="authorizePhoto" id="authorizePhoto" required class="dz-src">
                    <span class="form-error">
						请上传授权书图片
					</span>
				</div>
				<div class="medium-6 columns">
					<label>备案登记证明图片</label>
					<div class="dropzone dropzone-single"></div>
                    <input type="text" name="registrationPhoto" id="registrationPhoto" required class="dz-src">
                    <span class="form-error">
						请上传备案登记证明图片
					</span>
				</div>
			</div>
			<div class="row hideforone">
				<div class="medium-6 columns">
					<label>营业执照图片</label>
					<div class="dropzone dropzone-single"></div>
                    <input type="text" name="businessLicensePhoto" id="businessLicensePhoto" required class="dz-src">
                    <span class="form-error">
						请上传营业执照图片
					</span>
				</div>
			</div>
			<div class="row">
				<div class="medium-6 columns">
					<label>
						银行卡持卡人姓名
						<input type="text" name="bankCardHolderName" id="bankCardHolderName" required>
                        <span class="form-error">
						    请输入银行卡持卡人姓名
					    </span>
					</label>
				</div>
				<div class="medium-6 columns">
					<label>
						银行卡卡号
						<input name="bankCardNumber" id="bankCardNumber" type="text" required>
                        <span class="form-error">
						    请输入银行卡号码
					    </span>
					</label>
				</div>
			</div>
			<div class="row">
				<div class="medium-6 columns">
					<label>
						银行预留手机
						<input type="text" name="bankCardCellphone" id="bankCardCellphone" required pattern="telephone">
                        <span class="form-error">
						    请输入银行预留手机
					    </span>
					</label>
				</div>
			</div>
		</fieldset>
    </div>

    <div class="row text-center form-submit-wrap">
	    <button type="submit" class="button large">提交审核资料</button>
    </div>
</form>


<%- include('../layout/footer') -%>